.title{
    margin:auto;
    padding-top: 20px;
    height: 200px;
    width:100%;
    text-align: center;
}

.block{
    width: 80%;
    min-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: ghostwhite;
    border: 2px dashed;
    border-radius: 25px;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;                                                                                                                                       
}

.original{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 1200px;
    height:620px;
}

.part{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 600px;
    height: 400px;
    flex: 0 0 auto;
}

/* #class1, #class4-0{
    position: relative;
    right: 300px;
}

#class2, #class4{
    position: relative;
    left: 300px;
    bottom: 450px;
}

#class3-0{
    position: relative;
    bottom: 450px;
    right: 300px;
}

#class3{
    position: relative;
    bottom: 900px;
    left: 300px;
}

#class4-0{
    position: relative;
    right: 300px;
    bottom: 900px;
}

#class4{
    position: relative;
    left: 300px;
    bottom: 1350px;
} */